body {
    background-color: #ddd;
}

/* BODY STYLES ABOVE */
/* =================== */
/* HEADER STYLES BELOW */

#top-bar {
    background-color: rgb(241, 251, 255);
    height: 30px;
    text-align: center;
    padding-top: 2px;
}

#tagline {
    z-index: 1;
    position: absolute;
    right: 10px;
    letter-spacing: .15rem;
    font-weight: 900;
    color: rgb(121, 150, 162);
    font-family: 'Oswald', sans-serif;
    /* SEE MEDIA QUERIES */
}

#logocircle {
    position: absolute;
    background-color: rgb(121, 150, 162);
    border-radius: 50%;
    display: inline-block;
    border: 30px solid rgb(241, 251, 255);
    /* SEE MEDIA QUERIES */
}

#logotype {
    position: relative;
    /* SEE MEDIA QUERIES */
}

#intro {
    position: absolute;
    text-align: right;
    font-family: 'Oswald', sans-serif;
    color: rgb(101, 125, 135);
    letter-spacing: .02rem;
    top: 50px;
    right: 15px;
    left: 40%;
}

/* HEADER STYLES ABOVE */
/* =================== */
/* FOOTER STYLES BELOW */


#bottom-bar {
    position: absolute;
    bottom: 0;
    background-color: rgb(241, 251, 255);
    height: 30px;
    line-height: 30px;
    /* text-align: center; */
    /* padding-top: 2px; */
}

#footer-text {
    z-index: 1;
    position: absolute;
    right: 10px;
    letter-spacing: .15rem;
    font-weight: 900;
    color: rgb(121, 150, 162);
    font-family: 'Oswald', sans-serif;
    /* SEE MEDIA QUERIES */
}

/* FOOTER STYLES ABOVE */
/* =================== */
/* QUIZ BUTTON STYLES BELOW */

#quizbutton {
    position: absolute;
    background-color: rgb(162, 106, 136);
    border-radius: 50%;
    display: inline-block;
    border: 30px solid rgb(255, 241, 251);
    /* SEE MEDIA QUERIES */
}

#quizme {
    position: relative;
    /* SEE MEDIA QUERIES */
}


/* QUIZ BUTTON STYLES ABOVE */
/* =================== */
/* SURVEY STYLES BELOW */

#quizbody {
    position: relative;
    top: 310px;
    /* display: block; */
    display: none;
    /* background-color: orange; */
    height: 300px;
}

h2 {
    margin: 20px auto 0 0;
    font-size: 3.5rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

h4 {
    margin: 20px auto 0 -40px;
    font-size: 2.1rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
}

h5 {
    margin: 20px auto 10px 0;
    font-size: 1.1rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #888;
}

.answersbox {
    margin: -10px auto 0 auto;
    /* width: 90%; */
}

.qbox {
    max-width: 10rem;
}

label {
    position: relative;
    margin: 30px 0 0 25px;
    font-size: 1.1rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #aaa;
}

input {
    position: relative;
    top: -2px;
    left: 5px;
}

#submit {
    margin: 30px auto 80px auto;
    max-width: 90%;
    height: 100px;
    font-size: 2.5rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    letter-spacing: .15rem;
}

/* FOOTER STYLES ABOVE */
/* =================== */
/* MEDIA QUERIES BELOW */

/* Extra small devices (phones, 575px and down) */
@media only screen and (max-width: 575px) {

    label {
        font-size: .7rem;
        margin: 30px auto 0 10px;
    }

    h4 {
        margin: 20px auto 0 -10px;
    }

    #quizbutton {
        top: 100px;
        left: 5%;
        height: 150px;
        width: 150px;
    }

    #quizme {
        top: 12px;
        left: 16px;
        width: 60px;
    }

    #logocircle {
        top: -75px;
        left: 5%;
        height: 150px;
        width: 150px;
    }

    #tagline {
        top: 7px;
        font-size: .7rem;
    }

    #logotype {
        top: 50px;
        left: 2px;
        width: 55px;
    }

    #intro {
        font-size: .8rem;
    }

}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {

    #quizbutton {
        top: 110px;
        left: 5%;
        height: 180px;
        width: 180px;
    }

    #quizme {
        top: 13px;
        left: 18px;
        width: 85px;
    }

    #logocircle {
        top: -90px;
        left: 5%;
        height: 180px;
        width: 180px;
    }

    #tagline {
        top: 7px;
        font-size: .7rem;
    }

    #logotype {
        top: 65px;
        left: 2px;
        width: 80px;
    }

    #intro {
        font-size: 1.2rem;
        left: 35%;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    #quizbutton {
        top: 120px;
        left: 5%;
        height: 200px;
        width: 200px;
    }

    #quizme {
        top: 15px;
        left: 20px;
        width: 100px;
    }

    #logocircle {
        top: -100px;
        left: 5%;
        height: 200px;
        width: 200px;
    }

    #tagline {
        top: 6px;
        font-size: .8rem;
    }

    #logotype {
        top: 77px;
        left: 3px;
        width: 90px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    label {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 2.9rem;
        margin: 20px auto 0 -20px;
    }

    #intro {
        font-size: 1.4rem;
    }

}

/* MEDIA QUERIES ABOVE */