body {
    background-color: #ddd;
}

/* BODY STYLES ABOVE */
/* =================== */
/* HEADER STYLES BELOW */

#top-bar {
    background-color: rgb(241, 251, 255);
    height: 30px;
    text-align: center;
    padding-top: 2px;
}

#tagline {
    z-index: 1;
    position: relative;
    right: -10px;
    float: right;
    letter-spacing: .15rem;
    font-weight: 900;
    color: rgb(162, 106, 136);
    font-family: 'Oswald', sans-serif;
    /* SEE MEDIA QUERIES */
}

#logocircle {
    position: absolute;
    background-color: rgb(121, 150, 162);
    border-radius: 50%;
    display: inline-block;
    border: 30px solid rgb(241, 251, 255);
    /* SEE MEDIA QUERIES */
}

#logotype {
    position: relative;
    /* SEE MEDIA QUERIES */
}

#intro {
    max-width: 215px;
    float: right;
    font-weight: 900;
    font-family: 'Oswald', sans-serif;
    text-align: right;
    color: rgb(101, 125, 135);
    letter-spacing: .015rem;
    top: 50px;
    right: 0;
    left: 40%;
    /* SEE MEDIA QUERIES */
}

/* HEADER STYLES ABOVE */
/* =================== */
/* FOOTER STYLES BELOW */

#bottom-bar {
    position: absolute;
    bottom: 0px;
    background-color: rgb(241, 251, 255);
    height: 30px;
}

#footer-text {
    position: absolute;
    right: 10px;
    bottom: 0px;
    letter-spacing: .15rem;
    line-height: 0px;
    font-weight: 900;
    color: rgb(121, 150, 162);
    font-family: 'Oswald', sans-serif;
    /* SEE MEDIA QUERIES */
}

/* DUPLICATE SHOWN-QUIZ FOOTER STYLE BELOW */

#quiz-bottom-bar {
    position: relative;
    bottom: 0px;
    background-color: rgb(241, 251, 255);
    height: 30px;
}

#quiz-footer-text {
    position: absolute;
    right: 10px;
    bottom: 0px;
    letter-spacing: .15rem;
    line-height: 0px;
    font-weight: 900;
    color: rgb(121, 150, 162);
    font-family: 'Oswald', sans-serif;
    /* SEE MEDIA QUERIES */
}

a:link {
    color: rgb(121, 150, 162);
    text-decoration: none;
}
a:visited {
    color: rgb(121, 150, 162);
    text-decoration: none;
}
a:hover {
    color: rgb(121, 150, 162);
    text-decoration: none;
}
a:active {
    color: rgb(121, 150, 162);
    text-decoration: none;
}

/* FOOTER STYLES ABOVE */
/* =================== */
/* QUIZ BUTTON STYLES BELOW */

#quizbutton {
    position: absolute;
    background-color: rgb(162, 106, 136);
    border-radius: 50%;
    display: inline-block;
    border: 30px solid rgb(255, 241, 251);
    /* SEE MEDIA QUERIES */
}

#quizme {
    position: relative;
    /* SEE MEDIA QUERIES */
}


/* QUIZ BUTTON STYLES ABOVE */
/* =================== */
/* SURVEY STYLES BELOW */

#quizbody {
    position: relative;
    top: 180px;
    display: none;
    height: 300px;
    /* SEE MEDIA QUERIES */
}

#name::placeholder {
    font-family: 'Oswald', sans-serif;
    color: rgb(121, 150, 162);

}

#photo::placeholder {
    font-family: 'Oswald', sans-serif;
    color: rgb(121, 150, 162);

}

h2 {
    margin: 20px auto 0 0;
    font-size: 3.5rem;
    font-family: 'Oswald', sans-serif;
    color: rgb(121, 150, 162);
    font-weight: 400;
}

h4 {
    margin: 20px auto 0 auto;
    font-size: 2.1rem;
    font-family: 'Oswald', sans-serif;
    color: rgb(164, 124, 160);
    font-weight: 100;
}

h5 {
    margin: 20px auto 10px 0;
    font-size: 1.1rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: rgb(121, 150, 162);
}

.answersbox {
    margin: -15px auto 0 auto;
}

.qbox {
    max-width: 10rem;
}

label {
    position: relative;
    padding: 5px 0 0 5px;
    font-size: 1.1rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: rgb(121, 150, 162);
    top: 3px;
}

input[type="radio"]:checked+label {
    color: rgb(131, 67, 127);
}

#submit {
    margin: 30px auto 30px auto;
    height: 80px;
    font-size: 2.5rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    letter-spacing: .15rem;
    background-color: rgb(121, 150, 162);
    color: rgb(255, 241, 251);
}

hr {
    margin-top: 5px;
}

/* FOOTER STYLES ABOVE */
/* =================== */
/* MEDIA QUERIES BELOW */

/* MEDIA QUERIES FOR BREAKPOINTS BELOW */
/* =================================== */

/* Extra small devices (phones, 575px and down) */
@media only screen and (max-width: 575px) {

    label {
        font-size: .7rem;
        padding: 35px 0 0 2px;
        top: 0px;
    }

    #quizbutton {
        top: 100px;
        left: 5%;
        height: 150px;
        width: 150px;
    }

    #quizme {
        top: 12px;
        left: 16px;
        width: 60px;
    }

    #logocircle {
        top: -75px;
        left: 5%;
        height: 150px;
        width: 150px;
    }

    #tagline {
        top: 7px;
        font-size: .7rem;
    }

    #logotype {
        top: 50px;
        left: 2px;
        width: 55px;
    }

    #intro {
        font-size: .8rem;
    }

}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {

    label {
        font-size: 1rem;
        padding: 35px 0 0 3px;
        top: 2px;
    }

    #quizbutton {
        top: 110px;
        left: 5%;
        height: 180px;
        width: 180px;
    }

    #quizme {
        top: 13px;
        left: 18px;
        width: 85px;
    }

    #logocircle {
        top: -90px;
        left: 5%;
        height: 180px;
        width: 180px;
    }

    #tagline {
        top: 7px;
        font-size: .7rem;
    }

    #logotype {
        top: 65px;
        left: 2px;
        width: 80px;
    }

    #intro {
        font-size: 1.2rem;
        left: 35%;
        max-width: 350px;
    }

    #quizbody {
        top: 180px;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    #quizbutton {
        top: 120px;
        left: 5%;
        height: 200px;
        width: 200px;
    }

    #quizme {
        top: 15px;
        left: 20px;
        width: 100px;
    }

    #logocircle {
        top: -100px;
        left: 5%;
        height: 200px;
        width: 200px;
    }

    #tagline {
        top: 6px;
        font-size: .8rem;
    }

    #logotype {
        top: 77px;
        left: 3px;
        width: 90px;
    }

    #quizbody {
        top: 250px;
    }

    #intro {
        max-width: 490px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    label {
        font-size: 1.5rem;
        padding: 35px 0 0 5px;
        top: 5px;
    }

    h4 {
        font-size: 2.9rem;
    }

    #intro {
        font-size: 1.4rem;
        max-width: 590px;
        letter-spacing: .02rem;
}

}

/* MEDIA QUERIES FOR BREAKPOINTS ABOVE */
/* =================================== */
